/*
=======================================================
CSS Reset
=======================================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
=======================================================
Clearfix
=======================================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Custom styles
  ========================================
*/

body{
  background: white;
  color: #000000;
  font-family: georgia, "times new roman", times, serif;
}

/*
  ========================================
  Container
  ========================================
*/

.container{
  position: relative;
  width: 100%;
  padding-top: 42px;
  height: 9560px;
}

/*
  ========================================
  Header
  ========================================
*/

header{
  position: fixed;
  border-color: #e2e2e2;
  min-width: 315px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 47.800px;
  margin-left: 30px;
  background: white;
  box-shadow: -5px 0 2px 0 rgba(0,0,0,0.04);
}

header .wrapper{
  border-bottom: 1px solid #ccc;
  position: relative;
  min-height: 47px;
}

/*
  ========================================
  logo
  ========================================
*/

header .wrapper .logo-box{
  position: absolute;
  left: 640px;
  top: 10px;
  width: 185px;
  height: 26px;
  cursor: pointer;
}

header .wrapper .logo-box img{
  width: 185px;
  height: 26px;
}

/*
  ========================================
  option-box
  ========================================
*/

header .wrapper .option-box{
  position: absolute;
  left: 1282px;
  top: 10px;
  width: 205px;
  height: 30px;
  cursor: pointer;
}

header .wrapper .option-box .first{
  position: absolute;
  left: 0;
  top: 0;
  text-transform: uppercase;
  font-size: 11px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: white;
  background: #6288a5;
  border: 1px solid #4d7b9f;
  border-radius: 5px;
  padding: 9px 7px;
  text-decoration: none;
}

header .wrapper .option-box .second{
  position: absolute;
  left: 113px;
  top: 0;
  text-transform: uppercase;
  font-size: 11px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: white;
  background: #6288a5;
  border: 1px solid #4d7b9f;
  border-radius: 5px;
  padding: 9px 7px;
  text-decoration: none;
}

header .wrapper .option-box img{
  position: absolute;
  left: 178px;
  top: 7px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

/*
  ========================================
  quick navigation
  ========================================
*/

header .wrapper .quick-navigation{
  position: relative;
  left: -15px;
  padding-top: 8px;
  z-index: 2;
  width: 281px;
  height: 30px;
}

header .quick-navigation .first{
  width: 82px;
  height: 14px;
  padding: 7px 9px;
  box-shadow: 0 3px 2px 0 rgba(0,0,0,0.06),inset -1px -1px 1px 0 rgba(0,0,0,0.06);
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  margin-right: 6px;
  display: inline-block;
  background: white;
  text-transform: uppercase;
  font-size: 11px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  position: relative;
}

header .quick-navigation .first:hover{
background: #f7f7f5;
cursor: pointer;
}

header .quick-navigation .first p{
  position: absolute;
  top: 9px;
  left: 35px;
}

header .quick-navigation .first img{
  width: 16px;
  height: 16px;
  position: absolute;
  top: 5.5px;
  left: 10px;
}

header .quick-navigation .second{
  display: inline-block;
  width: 60px;
  height: 16px;
  padding: 7px 9px;
  text-transform: uppercase;
  font-size: 11px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  position: relative;
}

header .quick-navigation .second:hover{
background: #f7f7f5;
cursor: pointer;
border-radius: 2px;
}

header .quick-navigation .second p{
  position: absolute;
  top: 9px;
  left: 35px;
}

header .quick-navigation .second img{
  width: 16px;
  height: 16px;
  position: absolute;
  top: 5.5px;
  left: 10px;
}

header .quick-navigation .third{
  display: inline-block;
  width: 69px;
  height: 16px;
  padding: 7px 9px;
  text-transform: uppercase;
  font-size: 11px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  position: relative;
}

header .quick-navigation .third:hover{
background: #f7f7f5;
cursor: pointer;
border-radius: 2px;
}

header .quick-navigation .third p{
  position: absolute;
  top: 9px;
  left: 35px;
}

header .quick-navigation .third img{
  width: 16px;
  height: 16px;
  position: absolute;
  top: 5.5px;
  left: 10px;
}

/*
  ========================================
  articles-examples
  ========================================
*/

.articles-examples{
  height: 68px;
  margin-top: 1px;
  margin-left: 30px;
  padding: 13px 8px 8px 9px;
  border-bottom: 1px solid #e2e2e2;
  box-shadow: -5px 5px 2px 0 rgba(0,0,0,0.04), inset -1px -1px 1px 0 rgba(0,0,0,0.04);
  overflow: hidden;
}

.articles-examples .articles-box{
  height: 65px;
  width: 235px;
  border-right: 1px solid #e2e2e2;
  display: inline-block;
}

.articles-examples .space{
  margin-left: 4px;
}

.articles-examples .last{
  border: none;
}

.articles-examples img{
  width: 65px;
  height: 65px;
  display: inline-block;
  float: left;
}

.articles-examples .inline-title{
  display: inline-block;
  float: left;
  padding-left: 10px;
  padding-top: 2px;
}

.articles-examples .inline-title .first{
  font-size: 9px;
  text-transform: uppercase;
  font-weight: lighter;
}

.articles-examples .inline-title .second{
  font-size: 13px;
  font-weight: lighter;
  line-height: 17px;
}

/*
  ========================================
  main-article
  ========================================
*/

.main-article-wrapper{
  margin-left: 30px;
  box-shadow: -5px 5px 2px 0 rgba(0,0,0,0.04), inset -1px -1px 1px 0 rgba(0,0,0,0.04);
  padding-top
}

.main-article{
  margin: 0 167px;
  padding-top: 17px;
}

.main-article p{
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
}

.main-article h1{
  width: 1125px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e2e2e2;
  font-size: 32px;
  font-weight: bold;
  font-style: italic;
}

.main-article .article-top-nav{
  padding-top: 15px;
}

.main-article .article-top-nav p{
  font-size: 10px;
  font-weight: lighter;
  display: inline-block;
  margin-right: 685px;
  vertical-align: middle;
  margin-bottom: 10px;
}

.main-article .article-top-nav span{
  font-weight: bold;
}

.main-article .article-top-nav span:hover{
  text-decoration: underline;
  cursor: pointer;
}

.main-article .article-top-nav img{
  width: 25px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
  padding-left: 10px;
}

.main-article .article-top-nav img.nav-first{
  padding-right: 15px;
  border-right: 1px solid #e2e2e2;
}

.main-article .article-main-img{
  width: 1125px;
  padding-top: 15px;
}

.main-article .img-description{
  padding-top: 5px;
  width: 615px;
  font-family: "nyt-cheltenham-sh",georgia,"times new roman",times,serif;
  font-weight: normal;
  text-transform: none;
  font-size: 14px;
  line-height: 16px;
  color: #666;
}

.main-article .img-description span{
  font-size: 10px;
}

.main-article-wrapper .main-article-text-wrapper{
  width: 1125px;
  padding-top: 40px;
  padding-left: 70px;
}

.main-article-wrapper .main-article-text-wrapper .left{
  display: inline-block;
  width: 570px;
}

.main-article-wrapper .main-article-text-wrapper .left p{
  font-size: 17px;
  text-transform: none;
  font-weight: normal;
  font-family: georgia,"times new roman",times,serif;
  line-height: 25px;
  padding-top: 20px;
}

.main-article-wrapper .main-article-text-wrapper .left p.bold{
  font-weight: bold;
}

.main-article-wrapper .main-article-text-wrapper .left p.last-para{
  padding-bottom: 40px;
  border-bottom: 1px solid #e2e2e2;
}
